 
 /* universal selector */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    width: 80%;
    margin: 100px auto;
    background-color: #dcd7c9;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px , rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.9) 0px -3px 5px;
    display: grid;
    /* grid-template-rows: 205px 250px; */
   /* grid-template-columns: 250px 250px 1fr;               fr means fractional unit its work in colmns  */
    grid-template-rows: repeat(2, 250px);
    grid-template-columns:  repeat(3, 1fr); 
    /* grid-template-columns: min-content repeat(3, 1fr); */
    /* grid-template-columns:1fr max-content repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* row-gap: 10px;
    column-gap: 10px; */
    /* grid-template-columns: 1fr minmax(250px, 300px) repeat(1, 1fr); */
    gap: 20px;
    align-items: stretch;
    /* align-items: self-start; */

    justify-items: stretch;
    
}
.item{
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-size: 20px;
   
}
.item-1{
    background-color: brown;
    /* grid-column: 2/3;
    grid-row: 2/3; */
    /* grid-area: 2/3/2/3; */
}
.item-2{
    background-color: darkcyan;
    /* grid-area: 1/2/1/2; */
}
.item-3{
    background-color: rgb(212, 17, 49);
}
.item-4{
    background-color: greenyellow;
}
.item-5{
    background-color: tomato;
}
.item-6{
    background-color: hotpink;
}
